// 定位position參數
@mixin pos($direction, $val...) {
    $result: ();
    $data: to-upper-case($direction);
    @for $i from 1 through str-length($data) {
        $result: append($result, str-slice($data, $i, $i));
        #{pos-chtext(nth($result, $i))}: #{if(length($val) ==1, $val, nth($val, $i))};
    }
}

@function pos-chtext($data) {
    @if $data== "T" {
        @return top;
    } @else if $data== "R" {
        @return right;
    } @else if $data== "B" {
        @return bottom;
    } @else if $data== "L" {
        @return left;
    }
}

// 圖片替換文字
@mixin imgToTxt {
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

// 取消預設樣式
@mixin fullNone {
    background: transparent;
    outline: none;
    border: none;
}

// 文字斷行顯示點點點(參數輸入行數)
@mixin txtChip($row) {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $row;
    -webkit-box-orient: vertical;
    white-space: normal;
}

// RWD設定
@mixin rwd($data) {
    @media screen and (max-width: #{$data}px) {
        @content;
    }
}

// 判斷是否能hover(手機或Pc)
@mixin hover {
    @media (any-hover: hover) {
        @content;
    }
}

// 行動裝置專屬設定
@mixin phone {
    @media (pointer: coarse),
        (-moz-touch-enabled: 1),
        screen and (pointer: fine) and (min-resolution: 2dppx) and (max-width: 1023px) {
        @content;
    }
}

// 將純色背景色轉成rgba
@mixin background-opacity($color, $opacity) {
    background: $color;
    background: rgba($color, $opacity);
}

// 取多層map變數
@mixin map-get($style, $val...) {
    $obj: nth($val, 1);
    @for $i from 2 through length($val) {
        $obj: map-get($obj, nth($val, $i));
    }
    #{$style}: #{$obj};
}

// 首頁計數條
@mixin countBar($name, $time, $delay, $num) {
    animation: #{$name $time $delay} forwards linear;
    @keyframes #{$name} {
        0% {
            transform: rotate(calc(180 / 100 * -100deg));
        }
        100% {
            transform: rotate(calc(180 / 100 * #{$num}deg));
        }
    }
}

// 撲克牌旋轉
@mixin rotatePoker($name, $time, $num) {
    animation: #{$name $time} forwards linear;
    @keyframes #{$name} {
        0% {
            transform: rotateX(60deg) rotateY(-15deg) rotate(2deg) scale(0.55);
            @include pos(tr, 43%, 28%);
        }
        @for $i from 1 through $num {
            #{calc(100 / $num * $i) + "%"} {
                @if ($i == 2) {
                    transform: rotateX(60deg) rotateY(-15deg) rotate(16deg) scale(0.55);
                    @include pos(tr, 41%, 24%);
                } @else if($i == 3) {
                    transform: rotateX(60deg) rotateY(-15deg) rotate(30deg) scale(0.55);
                    @include pos(tr, 40%, 20.1%);
                } @else if($i == 4) {
                    transform: rotateX(60deg) rotateY(-15deg) rotate(40deg) scale(0.57);
                    @include pos(tr, 39.5%, 17%);
                } @else if($i == 5) {
                    transform: rotateX(55deg) rotateY(-20deg) rotate(50deg) scale(0.6);
                    @include pos(tr, 40.5%, 15%);
                } @else if($i == 6) {
                    transform: rotateX(60deg) rotateY(-10deg) rotate(66deg) scale(0.65);
                    @include pos(tr, 42.5%, 13.5%);
                } @else if($i == 7) {
                    transform: rotateX(60deg) rotateY(-10deg) rotate(80deg) scale(0.7);
                    @include pos(tr, 45%, 12%);
                } @else if($i == 8) {
                    transform: rotateX(40deg) rotateY(-10deg) rotate(97deg) scale(0.75);
                    @include pos(tr, 49%, 12.5%);
                } @else if($i == 9) {
                    transform: rotateX(40deg) rotateY(-10deg) rotate(115deg) scale(0.8);
                    @include pos(tr, 54%, 14.2%);
                } @else if($i == 10) {
                    transform: rotateX(40deg) rotateY(-10deg) rotate(130deg) scale(0.85);
                    @include pos(tr, 60%, 18%);
                } @else if($i == 11) {
                    transform: rotateX(41deg) rotateY(2deg) rotate(145deg) scale(0.9);
                    @include pos(tr, 66%, 23.6%);
                } @else if($i == 12) {
                    transform: rotateX(35deg) rotateY(-1deg) rotate(162deg) scale(0.95);
                    @include pos(tr, 71%, 30.5%);
                } @else if($i == 13) {
                    transform: rotateX(34deg) rotateY(5deg) rotate(175deg) scale(1);
                    @include pos(tr, 72%, 38.5%);
                }
            }
        }
    }
}
