// 共用設定
$oddsCont: (
    live: (
        10: #0f3d75,
        09: #205291,
        08: #3770b6,
        07: #5e97dd,
        06: #85b9f8,
    ),
    generally: (
        10: #132848,
        09: #525c6e,
        08: #e1e1e1,
        07: #f1f1f1,
    ),
    refresh: #08071f,
);

$colorStyle : (
    blue : (
        10: #0f3b86,
        09: #1e50a6,
        08: #366ac4,
        07: #7ab0f3,
        06: #a2ccff,
        05: #cde4ff,
        04: #e4f1ff,
    ),
    grey: (
        10: #333,
        09: #555,
        08: #777,
        07: #999,
        06: #bbb,
        05: #ddd,
        04: #eee,
    )
)



