// 共用設定
$oddsCont: (
    live: (
        10: #531e03,
        09: #ff6600,
        08: #fd8b5c,
        07: #f0cbb3,
        06: #ffdbc3,
    ),
    generally: (
        10: #132848,
        09: #525c6e,
        08: #e1e1e1,
        07: #f1f1f1,
    ),
    refresh: #fc4a0a,
);

// 注單狀況改變
$betState: (
    close : #ff5b5b,
    reopen : #ff8c3f,
    change : #65a7fd,
);


$hdmenu:(
    focus:#ff8a00,
    bgc:#021a5e,
);


